{% extends 'base.html' %}

{% block header %}
    <h1 style="margin-bottom: 15px">{% block title %}Plan{% endblock %}</h1>
    <a style="font-size: 1rem" class="action" href="{{ url_for('create_plan') }}">Create plan</a>
{% endblock %}

{% block content %}

<form action="{{ url_for('create_plan') }}" method="post">
    <select id="s-type" name="s-type">
        {% for key, value in types %}
            <option value={{key}}>{{value}}</option>
        {% endfor %}
    </select>
    <i id="add-item" class="fa fa-plus fa-lg app-shadow" style="color: green;"></i>
    <input type="submit">
    <div id="div-items"></div>

</form>
<script type=text/javascript src="{{url_for('static', filename='plan.js') }}"></script>
{% endblock %}