{% extends 'base.html' %}

{% block header %}
    <h1 style="margin-bottom: 15px">{% block title %}Podsumowanie produkcji{% endblock %}</h1>
{% endblock %}

{% block content %}

    <table class="order-table">
        <th class="order-th">Gatunek</th>
        <th class="order-th">Tonaż</th>
        {% for item in order %}
        <tr class="order-tr">
            <td class="order-td">{{item['name']}}</td>
            <td class="order-td">{{item['tonnage']}}</td>
        </tr>
        {% endfor %}
    </table>

    <a style="font-size: 1rem" class="action" href="{{ url_for('plan') }}">Sprawdź plan</a>

{% endblock %}